Repository rahmat-ullah/DocParser: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-type-check, frontend-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: npm run lint
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        always_run: false
        
      - id: frontend-type-check
        name: Frontend Type Check
        entry: npm run type-check
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false
        always_run: false
        
      - id: frontend-test
        name: Frontend Tests
        entry: npm run test
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        always_run: false

fix: Resolve CI configuration issues and validate pipeline
  frontend/.eslintrc.json
  frontend/jest.config.js
  frontend/package-lock.json
Due: frontend-lint, frontend-test

docs: Add GitHub Projects template for task board setup
  github-projects-template.json
Due: none

feat: Complete backend implementation with CORS configuration
  BACKEND_IMPLEMENTATION_COMPLETE.md
  backend/app/api/v1/endpoints/documents.py
  backend/app/api/v1/endpoints/processing.py
  backend/app/api/v1/endpoints/upload.py
  backend/app/core/config.py
  backend/app/models/document.py
  backend/app/schemas/document.py
  backend/app/services/ai_service.py
  backend/app/services/document_processor.py
  backend/app/services/progress_emitter.py
  backend/requirements.txt
  frontend/ENVIRONMENT_SETUP.md
  frontend/package.json
  frontend/setup-env.js
  frontend/test-setup-env.js
  setup-env.ps1
  test_backend.py
Due: frontend-lint, frontend-test

table update
  backend/app/core/__pycache__/config.cpython-310.pyc
  backend/app/parsers/__pycache__/ai_processor.cpython-310.pyc
  backend/app/parsers/__pycache__/ast_models.cpython-310.pyc
  backend/app/parsers/__pycache__/img_parser.cpython-310.pyc
  backend/app/parsers/__pycache__/markdown_generator.cpython-310.pyc
  backend/app/parsers/__pycache__/pdf_parser.cpython-310.pyc
  backend/app/parsers/img_parser.py
  backend/app/parsers/markdown_generator.py
  backend/app/parsers/pdf_parser.py
  backend/app/services/__pycache__/ai_service.cpython-310.pyc
  backend/app/services/table_extraction_service.py
  backend/demo_table_extraction.py
  backend/docparser.db
  backend/docs/table_extraction_guide.md
  backend/markdown/095f550d-aa7c-48b9-b687-d27adff7e4f1/095f550d-aa7c-48b9-b687-d27adff7e4f1.md
  backend/markdown/0c9292d8-9e22-48de-ba59-6ee5a32d3f9f/0c9292d8-9e22-48de-ba59-6ee5a32d3f9f.md
  backend/markdown/2985c4b9-7a1c-4411-927e-e726cc718128/2985c4b9-7a1c-4411-927e-e726cc718128.md
  backend/markdown/4b785416-a3d5-4b00-a985-394a91fd1694/4b785416-a3d5-4b00-a985-394a91fd1694.md
  backend/markdown/906142d6-f3d3-4191-b0d6-6c29b62c73b0/906142d6-f3d3-4191-b0d6-6c29b62c73b0.md
  backend/markdown/a0f9e415-d44f-4325-9e27-6c01a9dc6058/a0f9e415-d44f-4325-9e27-6c01a9dc6058.md
  backend/markdown/c0ff9773-1db4-4361-8deb-43b4d16730d6/c0ff9773-1db4-4361-8deb-43b4d16730d6.md
  backend/markdown/e961c8ee-9b05-4306-b031-0180ce4ef8ae/e961c8ee-9b05-4306-b031-0180ce4ef8ae.md
  backend/requirements.txt
  backend/sample_full_document.md
  backend/sample_table_extraction.md
  backend/test_table_extraction.py
  backend/uploads/095f550d-aa7c-48b9-b687-d27adff7e4f1.pdf
  backend/uploads/0c9292d8-9e22-48de-ba59-6ee5a32d3f9f.pdf
  backend/uploads/2985c4b9-7a1c-4411-927e-e726cc718128.pdf
  backend/uploads/4b785416-a3d5-4b00-a985-394a91fd1694.pdf
  backend/uploads/906142d6-f3d3-4191-b0d6-6c29b62c73b0.pdf
  backend/uploads/a0f9e415-d44f-4325-9e27-6c01a9dc6058.pdf
  backend/uploads/c0ff9773-1db4-4361-8deb-43b4d16730d6.pdf
  backend/uploads/e961c8ee-9b05-4306-b031-0180ce4ef8ae.pdf
Due: none

update module issue
  backend/app/core/__pycache__/config.cpython-310.pyc
  backend/app/parsers/__pycache__/ai_processor.cpython-310.pyc
  backend/app/parsers/__pycache__/ast_models.cpython-310.pyc
  backend/app/parsers/__pycache__/img_parser.cpython-310.pyc
  backend/app/parsers/__pycache__/markdown_generator.cpython-310.pyc
  backend/app/parsers/__pycache__/pdf_parser.cpython-310.pyc
  backend/app/parsers/img_parser.py
  backend/app/services/__pycache__/ai_service.cpython-310.pyc
  backend/app/utils/markdown_utils.py
  backend/docparser.db
  backend/markdown/f107c3e4-e8a9-4a4c-8ec7-c200a4ea52b4/f107c3e4-e8a9-4a4c-8ec7-c200a4ea52b4.md
  backend/uploads/3c7438be-f6d9-4fb9-a7e9-6deaedd7c38d.pdf
  backend/uploads/756f9a90-2bad-4360-89d6-3b75ce23ffe6.pdf
  backend/uploads/b052ee15-c018-44c7-bf21-fc81441417f8.pdf
  backend/uploads/f107c3e4-e8a9-4a4c-8ec7-c200a4ea52b4.pdf
  backend/uploads/fd7191bd-258b-4879-9a08-0c425c01f6d1.pdf
  frontend/package-lock.json
  frontend/package.json
Due: none

improve doc
  frontend/app/page.tsx
Due: frontend-lint, frontend-type-check, frontend-test

fix issue
  .env.example
Due: none

fix loading issue
  backend/app/api/v1/endpoints/__pycache__/processing.cpython-310.pyc
  backend/app/core/__pycache__/config.cpython-310.pyc
  backend/app/parsers/__pycache__/ai_processor.cpython-310.pyc
  backend/app/parsers/__pycache__/ast_models.cpython-310.pyc
  backend/app/parsers/__pycache__/base_parser.cpython-310.pyc
  backend/app/parsers/__pycache__/docx_parser.cpython-310.pyc
  backend/app/parsers/__pycache__/markdown_generator.cpython-310.pyc
  backend/app/parsers/__pycache__/pdf_parser.cpython-310.pyc
  backend/app/parsers/base_parser.py
  backend/app/parsers/docx_parser.py
  backend/app/parsers/markdown_generator.py
  backend/app/parsers/pdf_parser.py
  backend/app/services/enhanced_ai_service.py
  backend/docparser.db
  backend/markdown/606ea0d9-b391-4669-9f44-9a7e6bddbff4/606ea0d9-b391-4669-9f44-9a7e6bddbff4.md
  backend/tests/parsers/__pycache__/__init__.cpython-310.pyc
  backend/tests/parsers/test_markdown_generator_saving.py
  backend/uploads/606ea0d9-b391-4669-9f44-9a7e6bddbff4.pdf
  replacements.txt
Due: none

update prompt
  backend/app/parsers/__pycache__/ast_models.cpython-310.pyc
  backend/app/parsers/__pycache__/markdown_generator.cpython-310.pyc
  backend/app/parsers/markdown_generator.py
  backend/app/services/enhanced_ai_service.py
  backend/docparser.db
  backend/markdown/3ea061c3-8b4b-4334-b970-5e8c38c76815/3ea061c3-8b4b-4334-b970-5e8c38c76815.md
  backend/markdown/46e92005-21de-4ddb-9989-d9035308a15d/46e92005-21de-4ddb-9989-d9035308a15d.md
  backend/markdown/577fee73-a35f-49e7-b219-96790ded0119/577fee73-a35f-49e7-b219-96790ded0119.md
  backend/markdown/9dd93e76-612e-40c6-a8f0-05b0343c8a27/9dd93e76-612e-40c6-a8f0-05b0343c8a27.md
  backend/markdown/b3b1c25e-2d59-49b9-b1a6-4aabdf85d965/b3b1c25e-2d59-49b9-b1a6-4aabdf85d965.md
  backend/uploads/3ea061c3-8b4b-4334-b970-5e8c38c76815.pdf
  backend/uploads/46e92005-21de-4ddb-9989-d9035308a15d.pdf
  backend/uploads/577fee73-a35f-49e7-b219-96790ded0119.pdf
  backend/uploads/9dd93e76-612e-40c6-a8f0-05b0343c8a27.pdf
  backend/uploads/b3b1c25e-2d59-49b9-b1a6-4aabdf85d965.pdf
Due: none

add advance table
  app/table-extraction.md
  backend/app/core/__pycache__/config.cpython-310.pyc
  backend/app/core/config.py
  backend/app/parsers/__pycache__/pdf_parser.cpython-310.pyc
  backend/app/parsers/pdf_parser.py
  backend/app/services/document_processor.py
  backend/app/utils/advanced_table_extractor.py
  backend/docparser.db
  backend/markdown/0e1dbcc8-3ec8-4002-913a-41f95901e882/0e1dbcc8-3ec8-4002-913a-41f95901e882.md
  backend/markdown/8056680d-e945-47ba-8d05-a7389ee7db9d/8056680d-e945-47ba-8d05-a7389ee7db9d.md
  backend/markdown/8ee40318-d20b-47ac-87fb-d19bffa2ac7c/8ee40318-d20b-47ac-87fb-d19bffa2ac7c.md
  backend/markdown/f4b2c118-978d-4c5f-9bf0-ce3187c07006/f4b2c118-978d-4c5f-9bf0-ce3187c07006.md
  backend/markdown/test_Test/Test.md
  backend/markdown/test_technical_offer/technical_offer.md
  backend/models/layoutlmv3-base/config.json
  backend/node_modules/.package-lock.json
  backend/node_modules/pandas/.npmignore
  backend/node_modules/pandas/README.md
  backend/node_modules/pandas/example.js
  backend/node_modules/pandas/index.js
  backend/node_modules/pandas/package.json
  backend/node_modules/pandas/test/flickr_spec.js
  backend/node_modules/pandas/test/pandas_spec.js
  backend/node_modules/pandas/test/support.js
  backend/package-lock.json
  backend/package.json
  backend/test_pdf/Test.pdf
  backend/test_pdf/technical_offer.pdf
  backend/uploads/0e1dbcc8-3ec8-4002-913a-41f95901e882.pdf
  backend/uploads/8056680d-e945-47ba-8d05-a7389ee7db9d.pdf
  backend/uploads/8ee40318-d20b-47ac-87fb-d19bffa2ac7c.pdf
  backend/uploads/f4b2c118-978d-4c5f-9bf0-ce3187c07006.pdf
Due: none

fix markdown
  backend/app/parsers/__pycache__/markdown_generator.cpython-310.pyc
  backend/app/parsers/markdown_generator.py
  backend/docparser.db
  backend/markdown/cbd67d6e-b9cc-4b83-88f3-2b3e02b10bb5/cbd67d6e-b9cc-4b83-88f3-2b3e02b10bb5.md
  backend/uploads/cbd67d6e-b9cc-4b83-88f3-2b3e02b10bb5.pdf
Due: none

update pdf view
  backend/app/api/v1/__pycache__/router.cpython-310.pyc
  backend/app/api/v1/endpoints/pdf_viewer.py
  backend/app/api/v1/router.py
  backend/docparser.db
  backend/frontend-example/PdfCompareViewer.tsx
  backend/frontend-example/package.json
  backend/markdown/84e0e7c6-637d-4f8a-80eb-f077de27bd06/84e0e7c6-637d-4f8a-80eb-f077de27bd06.md
  backend/markdown/c745501b-b7c4-4f47-afc9-4e6df1367af6/c745501b-b7c4-4f47-afc9-4e6df1367af6.md
  backend/markdown/f9a05164-6b0f-4d2f-b8d2-4b9cdeca106c/f9a05164-6b0f-4d2f-b8d2-4b9cdeca106c.md
  backend/requirements.txt
  backend/uploads/8056680d-e945-47ba-8d05-a7389ee7db9d.pdf
  backend/uploads/8ee40318-d20b-47ac-87fb-d19bffa2ac7c.pdf
  backend/uploads/c745501b-b7c4-4f47-afc9-4e6df1367af6.pdf
  backend/uploads/cbd67d6e-b9cc-4b83-88f3-2b3e02b10bb5.pdf
  backend/uploads/f4b2c118-978d-4c5f-9bf0-ce3187c07006.pdf
  backend/uploads/f9a05164-6b0f-4d2f-b8d2-4b9cdeca106c.pdf
Due: none

Checkpoint before assistant change: Set up the project environment with modern tools and a clean layout
  .replit
Due: none

Assistant checkpoint: Modernized UI with clean layouts and improved UX
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/components/DocumentHistory.tsx
  frontend/components/FileUpload.tsx
  frontend/components/ProcessingIndicator.tsx
Due: frontend-lint, frontend-type-check, frontend-test

Checkpoint before assistant change: Enable image processing and deployment configurations for the application
  .replit
Due: none

Assistant checkpoint: Add 'use client' directive and configure run button
  .replit
  frontend/app/page.tsx
Due: frontend-lint, frontend-type-check, frontend-test

Assistant checkpoint: Install react-dropzone, fix client components, resolve port conflicts
  .replit
  frontend/server.js
  package-lock.json
  package.json
Due: frontend-lint, frontend-test

Checkpoint before assistant change: Adjust port configurations to ensure the application runs as expected
  .replit
Due: none

Assistant checkpoint: Fix documents.map error and install react-dropzone
  frontend/components/DocumentHistory.tsx
Due: frontend-lint, frontend-type-check, frontend-test

Assistant checkpoint: Fixed React errors, git lock, and port conflicts
  .replit
  frontend/app/page.tsx
  frontend/components/DocumentViewer.tsx
  frontend/components/MarkdownEditor.tsx
  frontend/server.js
Due: frontend-lint, frontend-type-check, frontend-test

Assistant checkpoint: Fix duplicate export and install missing dependency
  frontend/components/DocumentViewer.tsx
Due: frontend-lint, frontend-type-check, frontend-test

Restored to 'ec8dd659f0514a03aba819e8c3191dd839e4753a'
  frontend/components/DocumentViewer.tsx
Due: frontend-lint, frontend-type-check, frontend-test

Restored to 'b031451bc38b302d5c60cd72c1a76877e7a5b9cb'
  .replit
  frontend/app/page.tsx
  frontend/components/DocumentHistory.tsx
  frontend/components/DocumentViewer.tsx
  frontend/components/MarkdownEditor.tsx
  frontend/server.js
  package-lock.json
  package.json
Due: frontend-lint, frontend-type-check, frontend-test

feat: Setup comprehensive CI/CD pipeline and project structure
  backend/docparser.db
  backend/markdown/25e73015-923f-46f1-be96-2a38a11375cc/25e73015-923f-46f1-be96-2a38a11375cc.md
  backend/markdown/4fc794da-b652-4460-ab35-71ffe59621d2/4fc794da-b652-4460-ab35-71ffe59621d2.md
  backend/markdown/ffa68917-e35b-4acd-9e28-010750c4ffd2/ffa68917-e35b-4acd-9e28-010750c4ffd2.md
  backend/uploads/25e73015-923f-46f1-be96-2a38a11375cc.pdf
  backend/uploads/4fc794da-b652-4460-ab35-71ffe59621d2.pdf
  backend/uploads/c16aa71f-87a4-4ca8-982f-fe7672c808ca.pdf
  backend/uploads/ffa68917-e35b-4acd-9e28-010750c4ffd2.pdf
Due: none

feat: Setup comprehensive CI/CD pipeline and project structure
  backend/docparser.db
  backend/markdown/f2160fa3-f8d5-4137-b6dd-5f46de14ffb4/f2160fa3-f8d5-4137-b6dd-5f46de14ffb4.md
  backend/uploads/f2160fa3-f8d5-4137-b6dd-5f46de14ffb4.pdf
  frontend/app/page.tsx
  frontend/components/FileUpload.tsx
  frontend/components/PDFViewer.tsx
  frontend/components/ProcessingIndicator.tsx
Due: frontend-lint, frontend-type-check, frontend-test

refactor: comprehensive project cleanup and documentation overhaul
  BACKEND_IMPLEMENTATION_COMPLETE.md
  README.md
  RUNNING_THE_PLATFORM.md
  STEP_9_TESTS_SUMMARY.md
  TASK_BOARD.md
  app/table-extraction.md
  documentations/Deployment Guide - Document Parser Web Application.md
  documentations/Document Parser Web Application - Complete Documentation Package.md
  documentations/Project Structure and Implementation Examples.md
  documentations/System Requirements Specification (SRS) for Document Parsing Web Application.md
  documentations/Technical Architecture and Tech Stack.md
  documentations/Technical Documentation and Implementation Guide.md
  documentations/User Documentation_ Document Parser Web Application.md
  project-overview.md
  python-processor/README.md
Due: none

feat: implement independent panel scrolling with fixed header/footer
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/PDFViewer.tsx
Due: frontend-lint, frontend-type-check, frontend-test
